<div>
  <h1><%= @deck.deck_name %> Deck</h1>

  <section>
    <% if !@guess %>
  <p><%=@picked_card.question%></p>
  <form action='/games/<%=@game.id%>/decks/<%=@deck.id%>/cards/<%=@picked_card.id%>' method= "POST">
    <input type="text" name="guess" placeholder="Your answer">
    <input type= "submit" value= "Submit">
  </form>
  </section>

  <% else %>

    <% if @guess.correct %>
    <p>Correct!</p>
    <% else %>
    <p>Incorrect. <%= @picked_card.answer %> is the correct answer.</p>
    <% end %>
  <form action='/games/<%=@game.id%>/decks/<%=@deck.id%>/cards/<%=@picked_card.id%>' method= "POST">
  <input type= "submit" value= "Next">
  </form>

  <% end %>
  </section>


  <form

</div>


