<div>
  <h1><%= @deck.deck_name %> Deck</h1>

  <section>
  <p><%=@picked_card.question%></p>
  <form action='/games/<%=@game.id%>/decks/<%=@deck.id%>/cards/<%=@picked_card.id%>' method= "POST">
    <input type="text" name="guess" placeholder="Your answer">
    <input type= "submit" value= "Submit">
  </form>
  </section>

  <% if @guess %>
    <p><%= Guess.display_result(@previous_card, @guess) %></p>
  <% end %>
  </section>

  <form

</div>


