<div>
  <h1><%= @deck.deck_name %> Deck</h1>

  <section>
  <p><%=@picked_card.question%></p>
  <form action='/games/<%=@game.id%>/decks/<%=@deck.id%>/cards/<%=@picked_card.id%>' method= "POST">
    <input type="text" name="guess" placeholder="Your answer">
    <input type= "submit" value= "Submit">
  </form>
  </section>

  <% if @guess %>
    <% if @guess.correct %>
    <p>Correct!</p>
    <% else %>
    <p>Incorrect. <%= @previous_card.answer %> is the correct answer.</p>
    <% end %>


  <% end %>
  </section>


  <form

</div>


